body {
    margin: auto;
    background-color: white !important;
}

.cover-image {
    background-image: url("../contents/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    filter: brightness(50%);
    filter: contrast(90%);
}

.cover-text {
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-family: theboldfont;
    /*text-shadow: 3px 3px 10px #000000;*/
}

.cover-text > h1 {
    background-color: #000000;
    filter: opacity(50%);
    padding: 15%;
    margin: auto;
}

@media only screen and (max-width: 800px) {
    .cover-image {
        height: 400px;
    }
    .cover-text > h1 {
        padding-top: 30%;
        padding-bottom: 30%;
        padding-left: 0;
        padding-right: 0;
    }
}

@font-face {
    font-family: 'theboldfont';
    src: url('fonts/theboldfont.ttf');
}
@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas-Regular.ttf');
}