.brand-name {
    width: 200px;
}

.navbar-toggler {
    overflow: hidden !important;
}

.navbar-toggler {
    border: none !important;
    font-size: 72pt;
}
.navbar-toggler:hover {
    color: #ffffff !important;
}

.nav-link-bottom {
    border: 0.5px solid #ffffff;
    width: 0px;
    visibility: hidden;
}
.nav-link:hover {
    color: #ffffff !important;
}

.nav-link {
    font-family: Bebas;
    font-size: 14pt;
}

.dropdown-menu {
    width: 500px !important;
    right: 100px !important;
}

.bg-custom {
    background-color: #000000 !important;
}


@-moz-keyframes rotate /*--for firefox--*/{
    from{
        -moz-transform:rotate(0deg);
    }       
    to{
        -moz-transform:rotate(90deg);
    }
}
@-moz-keyframes unrotate /*--for firefox--*/{
    from{
        -moz-transform:rotate(90deg);
    }       
    to{
        -moz-transform:rotate(0deg);
    }
}

@-webkit-keyframes rotate /*--for webkit--*/{
    from{
        -webkit-transform:rotate(0deg);
    }       
    to{
        -webkit-transform:rotate(90deg);
    }
}
@-webkit-keyframes unrotate /*--for webkit--*/{
    from{
        -webkit-transform:rotate(90deg);
    }       
    to{
        -webkit-transform:rotate(0deg);
    }
}