/*rotate animation*/
@keyframes rotateClockwise {
    from {
        transform:rotate(0deg);
    }       
    to{
        transform:rotate(90deg);
    }
}
@keyframes rotateCounterClockwise {
    from {
        transform:rotate(90deg);
    }       
    to{
        transform:rotate(0deg);
    }
}


/*opacity animation*/
@keyframes opacityIncrement {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.35;
    }
}
@keyframes opacityDecrement {
    from {
        opacity: 0.35;
    }
    to {
        opacity: 0;
    }
}


@keyframes topTOBottom {
    from {
        top: -30px;
        opacity: 0;
    }
    to {
        top: 20%;
        opacity: 1.0;
    }
}