.page-footer {
    background-color: #2c2f33;
    color: #ffffff;
}

.footer-link {
    color: #eeeeee;
}

.copyright {
    background-color: #23272a;
    color: #ffffff;
}


/*to-top*/
.to-top.ovr-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    opacity: 0.5;
    display: none;
}

.btn-dark > .fa-angle-up {
    font-size: 18pt;
}