.footer-contents {
    
}

.copyright {
    background-color: cadetblue;
}

.p-copyright {

}


/*to-top*/
.to-top.ovr-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    filter: opacity(0.8);
    display: none;
}

.btn-dark > .fa-angle-up {
    font-size: 18pt;
}