body {
    margin: auto;
    padding: 0;
}


.cover-image {
    background-image: url("../../contents/cover_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    filter: brightness(50%);
    filter: contrast(90%);
    width: 100%;
}

#cover-text-container{
    background-color: #000000;
    filter: opacity(50%);
    box-sizing: border-box;
    height: 100%;
    padding: 15% 3%;
    margin: auto;
}

#cover-text {
    text-align: center;
    margin: auto;
    font-family: theboldfont;
    font-size:30pt;
    color: #ffffff;
    position: relative;
    top: -30px;
    opacity: 0;
}


.products-category {
    width: 150px;
    padding: auto;
    margin: auto;
    cursor: pointer;
    text-align: center;
}

.products-category-img {
    width: 100px;
    padding: auto;
    margin: auto;
}

.products-category-name-container {
    padding: auto;
    margin: auto;
}

.products-category-name {
    padding: auto;
    margin: auto;
    text-align: center;
}





/*screen*/
@media only screen and (max-width: 800px) {
    .cover-image {
        height: 400px;
    }

    #cover-text {
        top: 0px;
        opacity: 0;
    }

    .products-category {
        width: 100%;
    }
}

/*fonts*/
@font-face {
    font-family: 'theboldfont';
    src: url('fonts/theboldfont.ttf');
}
@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas-Regular.ttf');
}