body {
    margin: auto;
    padding: auto;
}

/*--*/
.feature-image {
    background-image: url("../../contents/feature_img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    background-blend-mode: overlay;
    filter: brightness(50%);
    filter: contrast(90%);
    width: 100%;
}

.feature-text-container{
    background-color: #000000;
    filter: opacity(50%);
    box-sizing: border-box;
    height: 100%;
    padding: 15% 3%;
    margin: auto;
}

.feature-text {
    text-align: center;
    margin: auto;
    padding: auto;
    font-family: theboldfont;
    font-size:36pt;
    color: #ffffff;
    position: relative;
    bottom: -40px;
    opacity: 0;
}

/*--*/
.products-category {
    width: 150px;
    padding: auto;
    margin: auto;
    cursor: pointer;
    text-align: center;
}

.products-category-img {
    width: 90px;
    padding: auto;
    margin: auto;
}

.products-category-name-container {
    padding: auto;
    margin: auto;
}

.products-category-name {
    padding: auto;
    margin: auto;
    text-align: center;
}

.border-bottom-hr.p-categ {
    border: 0.5px solid #000000;
    width: 0px;
    visibility: hidden;
}


/*--*/
.connect-with-us {
    font-family: Bebas;
    font-size: 15pt;
    margin: 0;
    padding: 0;
}

.btn-floating {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    color: #ffffff;
}
.btn-floating:hover {
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.23);
}

.btn-fb {
    background-color: #3b5998;
    padding: 12px 15px;
}
.btn-fb i {
    position: relative;
    left: 2px;
}

.btn-fbmes {
    background-color: #0084ff;
    padding: 12px;
}
.btn-fbmes i {
    position: relative;
    left: 2px;
}

.btn-tw {
    background-color: #0084b4;
    padding: 12px;
}
.btn-tw i {
    position: relative;
    left: 2px;
}

.btn-insta {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 12px 15px;
}


/*screen*/
@media only screen and (max-width: 800px) {
    .feature-image {
        height: 400px;
    }

    .feature-text {
        opacity: 0;
        font-size:30pt;
        bottom: -100px;
    }

    .products-category {
        width: 100%;
    }
}

/*fonts*/
@font-face {
    font-family: 'theboldfont';
    src: url('fonts/theboldfont.ttf');
}
@font-face {
    font-family: 'Bebas';
    src: url('fonts/Bebas-Regular.ttf');
}