.navbar.bg-color {
    background-color: #010101 !important;
}

.brand-name {
    width: 200px;
}

.navbar-toggler {
    overflow: hidden !important;
}

.navbar-toggler {
    border: none !important;
    font-size: 72pt;
}
.navbar-toggler:hover {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ffffff !important;
}

.nav-link {
    font-family: Bebas;
    font-size: 14pt;
}

.border-bottom-hr.n-link {
    border: 0.5px solid #ffffff;
    width: 0px;
    visibility: hidden;
}