.navbar.bg-color {
    background-color: #000000 !important;
}

.brand-name {
    width: 200px;
}

.navbar-toggler {
    overflow: hidden !important;
}

.navbar-toggler {
    border: none !important;
    font-size: 72pt;
}
.navbar-toggler:hover {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #ffffff !important;
}

.nav-link {
    font-family: Bebas;
    font-size: 14pt;
}

.border-bottom-hr.n-link {
    border: 0.5px solid #ffffff;
    width: 0px;
    visibility: hidden;
}


@-moz-keyframes rotate /*--for firefox--*/{
    from{
        -moz-transform:rotate(0deg);
    }       
    to{
        -moz-transform:rotate(90deg);
    }
}
@-moz-keyframes unrotate /*--for firefox--*/{
    from{
        -moz-transform:rotate(90deg);
    }       
    to{
        -moz-transform:rotate(0deg);
    }
}

@-webkit-keyframes rotate /*--for webkit--*/{
    from{
        -webkit-transform:rotate(0deg);
    }       
    to{
        -webkit-transform:rotate(90deg);
    }
}
@-webkit-keyframes unrotate /*--for webkit--*/{
    from{
        -webkit-transform:rotate(90deg);
    }       
    to{
        -webkit-transform:rotate(0deg);
    }
}